@import "tailwindcss";

/* Default Theme */
@import "tailwindcss";

:root {
  --dominant: #F4FBFF;
  --secondary: #243B53;
  --accent: #38BDF8;
}

@theme {
  --color-dominant: var(--dominant);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

[data-theme="dark"] {
  --dominant: #0F172A;
  --secondary: #FFFFFF;
  --accent: #38BDF8;
}

body {
  background: var(--color-dominant);
  color: var(--color-secondary);
   transition: opacity .2s ease;
}

html{
    transition: background-color .50s ease;
}


body.theme-changing{
    opacity:.97;
}